.col-8 {
  width: 80%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.card-tonight {
  background: #fff;
  border: 1rem solid #dadee4;
  border-radius: 0.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card {
  background: #fff;
  border: 1rem solid #dadee4;
  border-radius: 0.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bg-secondary {
  background: #f1f1fc !important;
  color: inherit;
}

/* .col-12 {
  width: 100%;
  padding: 20px;
} */

/* .bg-gray {

}

/* For the image style  */
.col-2 {
  max-height: 50%;
}

.col-10 {
}

.container {
  border: 1px black;
}

img {
  display: flex;
  justify-content: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
