body {
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    background-image: "./assets/images/tonight.jpg";
}

.tonight-img
.col-8 {
  width: 80%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.card-tonight {
  background: #fff;
  border: 1rem solid #dadee4;
  border-radius: 0.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;}

.card {
    background: inherit;
    border: none;
}


img {
  border-radius: .9rem;
  padding: 20px;
}

.column.col-12 {
  padding: 30px;
}

h2.card.text-center {
  background: #fff;
  border: 1rem solid #dadee4;
  border-radius: 0.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  padding-left: 2rem;
padding-right: 2rem;
width: 100%;
}

.col-10 {
  padding: 30px;
}

.col-10:hover {
  padding: 30px;
}

.form-icon:hover {
  background: #5755d9;
}

/* .img-responsive {
  transition: all .2s ease-in-out;
}

.img-responsive:hover {
  transform: scale(1.1);
} */

#event-container:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 8px;
  border: 2px gray solid;
}

#event-container {
  transition: all .1s ease-in-out;
  background-color: ivory;
}

/* .docs-brand {

} */

img {
  height: 350px;
  width: 350px;;
}

/* event custom styles */
.border-black {
  border-top: 2px gray solid;
}

