body {
  background-color: white;
}

.tonight-img {
  background-image: url('../images/lights.jpg');
  height: 500px; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;

}

.bg-title {
 background-color: white;
 opacity: 0.6;
 border-radius: 0.5rem;
 padding-top: 20px;
 font-family: soleil, Futura, "Trebuchet MS", Arial, sans-serif;
}
.btn {
  opacity: 0.6;
  border-radius: 0.5rem;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}

.saved {
padding-top: 20px;
}
h2.card.text-center.py-2.mb-0 {
  border-width: 1rem;

}
.col-8 {
  width: 80%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: white;
}

.card-tonight {
  background: #fff;
  border: 1rem solid #dadee4;
  border-radius: 0.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;}

.card {
    background: inherit;
    border: none;
}

div.col-10 {
  background-color: white;
  border-radius: 0.5rem;
}

img {
  border-radius: .9rem;
  padding: 30px;
}

.container {
  padding-left: 2rem;
padding-right: 2rem;
width: 100%;
}

.col-10 {
  padding: 30px;`
}


.form-icon:hover {
  background: #5755d9;
}


#event-container:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 8px;
  border: 2px gray solid;
}

#event-container {
  transition: all .2s ease-in-out;
  background-color: white;
  box-shadow: #5755d9;
}


img {
  height: 350px;
  width: 350px;;
}

/* event custom styles */
.border-black {
  border-top: 2px gray solid;
}

